// BREAKPOINTS

$breakpoint-xxl: 1920px;
$breakpoint-xl: 1280px + 0.5;
$breakpoint-lg: 1072px + 0.5;
$breakpoint-md: 824px + 0.5;
$breakpoint-sm: 608px + 0.5;
$breakpoint-xs: 396px + 0.5;

// GUTTERS
$gutter-lg: 16px;
$gutter-sm: 4px;

// COLORS

$white: #fff;
$black: #212121;

$primary: #4c70ff;
$secondary: #365fff;

$blue: #4c70ff;
$focusBlue: #365fff;

$lightBlue: #66bce8;

$gray: #ecf2f7;

$errorColor: #eb5757;
$successColor: #549920;
